---
const { name, icon, classLiName, className } = Astro.props;
---

<li class={`flex-nowrap ${classLiName}`}>
  <div class={`${className} flex items-center justify-center bg-white text-dark border-2 border-gray-200 hover:border-secondary transition-all py-1.5 gap-1 md:gap-2 duration-300 hover:shadow-md w-22 h-22 md:w-30 md:h-30 flex-col rounded-3xl md:hover:scale-105`}>
      <img
          src={`../iconos/${icon}.svg`}
          alt={icon}
          class="h-4 md:h-11 w-auto object-contain transition-transform group-hover:scale-110"
          loading="lazy"
      />
      <span class="text-xs font-normal md:text-md md:font-medium text-center whitespace-nowrap overflow-hidden overflow-ellipsis max-w-full">{name}</span>
  </div>
</li>