---
import ThemeIcon from '../components/ThemeIcon.astro';
import Hamburguer from '../components/Hamburguer.astro';
import { NAVITEMS } from '../consts/header.ts';

const title: string = 'cmalmierca.dev';
---

<header id="header" class="fixed top-0 z-30 w-full px-5 py-6 duration-500 md:px-10 md:py-0 xl:px-20 2xl:px-28 backdrop-blur-3xl">

    <!-- Mobile First -->
     <div class="max-w-6xl mx-auto px-4 container lg:max-w-5xl md:max-w-2xl lg:px-8">
        <div class="flex items-center justify-between h-10 lg:h-18">
            <a href="/" class="text-xl text-emerald-500 font-semibold">{title}</a>

            <div class="flex items-center gap-5 justify-center">
                <!-- Botón hamburguesa -->
                <Hamburguer />
                <ThemeIcon />
            </div>

            <!-- Menú desktop -->
            <nav id="nav__desktop" class="hidden lg:flex items-center space-x-2 lg:space-x-4 lg:absolute lg:left-1/2 transform lg:-translate-x-1/2 rounded-full transition-custom">
                {
                    NAVITEMS.map((item) => (
                        <a class="px-1 text-base relative group transition-custom" href={item.href} aria-label={item.label}>{item.title}
                        <span class="absolute -bottom-1 left-0 w-0 h-0.5 bg-secondary group-hover:w-full transition-all duration-300"></span>
                        </a>
                        
                    ))

                }
            </nav>

            <!-- Menú mobile -->
            <div id="nav__mobile" class="absolute top-0 left-0 right-0 bg-dark shadow-xl transform -translate-y-full opacity-0 invisible transition-all duration-300 lg:hidden min-h-screen flex items-center justify-center">
                <nav class="px-4 py-6 space-y-3">
                    {
                        NAVITEMS.map((item) => (
                            <a class="block py-2 text-primary hover:text-secondary text-2xl" href={item.href} aria-label={item.label}>{item.title}</a>
                        ))
                    }
                </nav>
            </div>
        </div>
     </div>


</header>



<script>

    //Apertura de menú mobile
    const navButton = document.getElementById('nav__button');
    const navMobile = document.getElementById('nav__mobile');
    var isMenuOpen = false;

    const line1 = document.getElementById('line1');
    const line2 = document.getElementById('line2');
    const line3 = document.getElementById('line3');

    navButton?.addEventListener('click' , () => {

        isMenuOpen = !isMenuOpen;
        
        if (isMenuOpen) {
            line1 && line1.classList.add('rotate-45', 'translate-y-2.25', 'z-100', 'bg-primary');
            line2 && line2.classList.add('opacity-0');
            line3 && line3.classList.add('-rotate-45', '-translate-y-2.25', 'z-100' , 'bg-primary');

            navMobile?.classList.remove('opacity-0', 'invisible', '-translate-y-full');
            navMobile?.classList.add('opacity-100', 'visible', 'translate-y-0');
        } else {
            line1 && line1.classList.remove('rotate-45', 'translate-y-2.25', 'z-100', 'bg-primary');
            line2 && line2.classList.remove('opacity-0');
            line3 && line3.classList.remove('-rotate-45', '-translate-y-2.25', 'z-100', 'bg-primary');

            navMobile?.classList.remove('opacity-100', 'visible', 'translate-y-0');
            navMobile?.classList.add('opacity-0', 'invisible', '-translate-y-full');
        }
    })


    //Cierre de menú mobile al seleccionar enlace
    document.querySelectorAll('#nav__mobile a').forEach(link => {
        link.addEventListener('click', () => {
            if (isMenuOpen) {
                    navButton?.click();
                }
        });
    });



</script>